$color-primary-light: #ffbc9e;
$color-primary: #fd8b6f;

$color-secondary: #4a752d;
$color-secondary-dark: #1c4900;

$color-text-light: rgb(118, 118, 118);
$color-text: rgb(72, 72, 72);
$color-dim: rgb(34, 34, 34);
$color-shadow: rgba($color-dim, .2);
$color-border: rgba($color-dim, .1);

$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-small: 14px;
$font-size-smallest: 12px;
